<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#"
	data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
	<center>
		<link rel="stylesheet" href="plugins/enedis/core/template/css/enedis.mobile.css">
		<span class="widget-name">
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br>
		</span>
		<div class="enedis_template text-center" style="height:220px;">
			<div class="consumption">
				<div class="enedisTitle">CONSOMMATION <i class="fas fa-circle enedisTitleIcon"></i></div>
				<div class="history cursor" data-cmd_id="#yearly_consumption_id#" data-up_to_date="#yearly_consumption_toDate#" title="#yearly_consumption_collect#">
					<div class="enedisCdc">ANNUELLE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#yearly_consumption#</span><span class="enedisUnite"> #yearly_consumption_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#monthly_consumption_id#" data-up_to_date="#monthly_consumption_toDate#" title="#monthly_consumption_collect#">
					<div class="enedisCdc">MENSUELLE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#monthly_consumption#</span><span class="enedisUnite"> #monthly_consumption_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#daily_consumption_id#" data-up_to_date="#daily_consumption_toDate#" title="#daily_consumption_collect#">
					<div class="enedisCdc">QUOTIDIENNE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#daily_consumption#</span><span class="enedisUnite"> #daily_consumption_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#consumption_load_curve_id#" data-up_to_date="#consumption_load_curve_toDate#" title="#consumption_load_curve_collect#">
					<div class="enedisCdc">HORAIRE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#consumption_load_curve#</span><span class="enedisUnite"> #consumption_load_curve_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#daily_consumption_max_power_id#" data-up_to_date="#daily_consumption_max_power_toDate#"
					title="#daily_consumption_max_power_collect#">
					<div class="enedisCdc">PUISSANCE MAX</div>
					<div class="enedisValueUnite"><span class="enedisValue">#daily_consumption_max_power#</span><span class="enedisUnite"> #daily_consumption_max_power_unite#</span></div>
				</div>
			</div>
			<div class="production" style="display:none;">
				<div class="enedisTitle">PRODUCTION <i class="fas fa-circle enedisTitleIcon"></i></div>
				<div class="history cursor" data-cmd_id="#yearly_production_id#" data-up_to_date="#yearly_production_toDate#" title="#yearly_production_collect#">
					<div class="enedisCdc">ANNUELLE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#yearly_production#</span><span class="enedisUnite"> #yearly_production_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#monthly_production_id#" data-up_to_date="#monthly_production_toDate#" title="#monthly_production_collect#">
					<div class="enedisCdc">MENSUELLE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#monthly_production#</span><span class="enedisUnite"> #monthly_production_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#daily_production_id#" data-up_to_date="#daily_production_toDate#" title="#daily_production_collect#">
					<div class="enedisCdc">QUOTIDIENNE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#daily_production#</span><span class="enedisUnite"> #daily_production_unite#</span></div>
				</div>
				<div class="history cursor" data-cmd_id="#production_load_curve_id#" data-up_to_date="#production_load_curve_toDate#" title="#production_load_curve_collect#">
					<div class="enedisCdc">HORAIRE</div>
					<div class="enedisValueUnite"><span class="enedisValue">#production_load_curve#</span><span class="enedisUnite"> #production_load_curve_unite#</span></div>
				</div>
			</div>
			<div style="margin: 2% 0 0 3%;height:12%;width:60%;" class="toggleMeasure"></div>
		</div>
		<script>
			var eqLogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
			if ('#BGEnedis#' != '') {
				eqLogic.attr('style', eqLogic.attr('style') + 'background-color:#BGEnedis#!important;')
			}
			if ('#BGTitle#' != '') {
				eqLogic.find('.widget-name').attr('style', 'background-color:#BGTitle#!important;').find('a, i.fa-sync').attr('style', 'color:var(--eqTitle-color)!important;')
			}
			if ('#noLoadCurve#' == 1) {
				eqLogic.find('.history:nth-child(5)').remove()
			}

			if ('#measureType#' === 'consumption') {
				isUpToDate('.consumption', eqLogic.find('.consumption .history[data-up_to_date=1]').length)
				eqLogic.find('.consumption').show()
				eqLogic.find('.production').hide()
			}
			else if ('#measureType#' === 'production') {
				isUpToDate('.production', eqLogic.find('.production .history[data-up_to_date=1]').length)
				eqLogic.find('.consumption').hide()
				eqLogic.find('.production').show()
			}
			else if ('#measureType#' === 'both') {
				isUpToDate('.consumption', eqLogic.find('.consumption .history[data-up_to_date=1]').length)
				isUpToDate('.production', eqLogic.find('.production .history[data-up_to_date=1]').length)
				eqLogic.find('.toggleMeasure').addClass('cursor')
				eqLogic.find('.toggleMeasure').on('click', function() {
					eqLogic.find('.consumption').toggle()
					eqLogic.find('.production').toggle()
				})
			}

			if ('#refresh_id#' != '') {
				$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function() {
					jeedom.cmd.execute({ id: '#refresh_id#' })
				})
			}
			else {
				$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
			}

			function isUpToDate(_type, _toDate) {
				if (_toDate == 0) {
					eqLogic.find(_type + ' .enedisTitleIcon').attr({ 'style': 'color:red;', 'title': 'Aucune donnée à jour' })
				}
				else if ('#noLoadCurve#' == 1) {
					if ((_type == '.production' && _toDate == 3) || (_type == '.consumption' && _toDate == 4)) {
						eqLogic.find(_type + ' .enedisTitleIcon').attr({ 'style': 'color:green;', 'title': 'Toutes les données sont à jour' })
					}
				}
				else if ((_type == '.production' && _toDate == 4) || (_type == '.consumption' && _toDate == 5)) {
					eqLogic.find(_type + ' .enedisTitleIcon').attr({ 'style': 'color:green;', 'title': 'Toutes les données sont à jour' })
				}
				else {
					eqLogic.find(_type + ' .enedisTitleIcon').attr({ 'style': 'color:orange;', 'title': 'Certaines données ne sont pas à jour' })
				}
			}
		</script>
	</center>
</div>
